.App {
  width: 464px;
  margin: 188px auto;
  position: relative;
  .quiz-header {
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 0;
      margin-bottom: 6px;
      font-weight: bold;
      font-size: 36px;
      line-height: 54px;
      text-transform: uppercase;
      color: #f2f2f2;
    }
    .svg-travel {
      position: absolute;
      right: 0;
      top: -22px;
    }
    .svg-results {
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .quiz-body {
    // height: 515px;
    border-radius: 24px;

    padding: 0;
    background: white;
  }
}
