.App {
  width: 464px;
  margin: 188px auto;

  .quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -32px;
    h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 54px;
      text-transform: uppercase;
      color: #f2f2f2;
    }
  }

  .quiz-body {
    // height: 515px;
    border-radius: 24px;

    padding: 0;
    background: white;

  }
}
