* {
  box-sizing: border-box;
}
html {
  background: url("/background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
:root {
  --darkblue: #2f527b;
  --verydarkblue: #1d355d;
  --yellow: #f9a826;
  --purple: #6066d0;
  --purple1: rgba(96, 102, 208, 0.8);
  --purple2: rgba(96, 102, 208, 0.7);
  --red: #EA8282;
  --green: #60BF88;
}
